<?xml version="1.0" encoding="UTF-8" ?>

<beans>
    <bean id = "aService" class = "com.minis.testService.Impl.AServiceImpl">
        <property type="String" name="property1" value="Tommy say: "/>
        <property type="String" name="property2" value="Hello World!"/>
        <constructor-arg type="String" name="name" value="Tommy"/>
        <constructor-arg type="int" name="level" value="10"/>
        <!-- 注入bean的类路径一定要对应setter -->
<!--     @AutoWired注解实现bean依赖注入 取代：<property type="com.minis.BaseService" name="ref1" ref="baseservice"/>-->
    </bean>

    <bean id="baseService" class="com.minis.testService.Impl.BaseServiceImpl"> </bean>

    <bean id="basebaseService" class="com.minis.testService.Impl.BasebaseServiceImpl"> </bean>

    <bean id="webBindingInitializer" class="com.minis.web.DateInitializer"> </bean>

    <bean id="messageConverter" class="com.minis.web.DefaultHttpMessageConverter"> </bean>

    <bean id="handlerAdapter" class="com.minis.web.servlet.RequestMappingHandlerAdapter"> </bean>
    <bean id="handlerMapping" class="com.minis.web.servlet.RequestMappingHandlerMapping"> </bean>

    <bean id="objectMapper" class="com.minis.web.DefaultObjectMapper" >
        <property type="String" name="dateFormat" value="yyyy/MM/dd"/>
        <property type="String" name="decimalFormat" value="###.##"/>
    </bean>

    <bean id="viewResolver" class="com.minis.web.servlet.view.InternalResourceViewResolver" >
        <property type="String" name="viewClassName" value="com.minis.web.servlet.view.JstlView" />
        <property type="String" name="prefix" value="/jsp/" />
        <property type="String" name="suffix" value=".jsp" />
    </bean>

    <!--数据源-->
    <bean id="dataSource" class="com.minis.jdbc.pool.PooledDataSource" init-method="initPool">
        <constructor-arg type="String" name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
        <constructor-arg type="String" name="url" value="jdbc:mysql://localhost:3306/gongchuang_test"/>
        <constructor-arg type="String" name="username" value="root"/>
        <constructor-arg type="String" name="password" value="azhaer66"/>
        <constructor-arg type="int" name="initialSize" value="3"/>
    </bean>

    <bean id="jdbcTemplate" class="com.minis.jdbc.core.JdbcTemplate" />
    <bean id="studentService" class="com.minis.testService.StudentService"/>

    <bean id="sqlSessionFactory" class="com.minis.batis.DefaultSqlSessionFactory" init-method="init">
        <property type="String" name="mapperLocations" value="mapper"></property>
    </bean>

    <!--AOP-->
    <bean id="myAfterReturningAdvice" class="com.minis.testService.MyAfterAdvice" />
    <bean id="advisor" class="com.minis.aop.NameMatchMethodPointcutAdvisor" init-method="init">
        <property type="com.minis.aop.Advice" name="advice" ref="myAfterReturningAdvice"/>
        <property type="String" name="mappedName" value="do*"/>
    </bean>

    <!-- 实际业务bean-->
    <bean id="action1" class="com.minis.testService.Impl.Action1" />

    <bean id="autowiredAnnotationBeanPostProcessor" class="com.minis.beans.AutowiredAnnotationBeanPostProcessor" />
    <bean id="autoProxyCreator" class="com.minis.aop.framework.autoproxy.BeanNameAutoProxyCreator" >
        <property type="String" name="pattern" value="action*" />
        <property type="String" name="interceptorName" value="advisor" />
    </bean>

</beans>